body{
    background-color:beige;
    margin-top: 10px;
    
}
.row{
    margin-left: 70px;
}
#a{
    
    background-color:black;
    color: white;
    /* margin-left:10px; */
    text-align: center;
    
}
#b{
    background-color: azure;
    color: black;
    /* margin-left:px; */
}
img{ 
    margin-left: 20px;
    border-radius: 200px;
    height: 200px;
    width:200px
}
#name{
    text-align: center;
}
    

